---
layout: default
---

<style>
    ul.friends_ul li.friends_li{ float:left; margin-left:20px; list-style-type:none;}
    li a.friends_li_a {display: block; color: black; text-align: left; padding: 14px 16px; text-decoration: none;}
</style>

{%- if page.title -%}
<h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%}

{{ content }}

{% include header.html %}

{%- if site.posts.size > 0 -%}
<ul class="posts">
    <li>
        <h1 id="posts-label">
            Here are my best friends
        </h1>
    </li>

    <li><a class="friends_li_a" href="http://pcat.cc">Pcat：pcat.cc</a></li>
</ul>

<!-- <p class="feed-subscribe"><svg class="svg-icon orange">
		<use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use>
	</svg><a href="{{ "/feed.xml" | relative_url }}">Subscribe</a></p> -->
{%- endif -%}